<key>NSPhotoLibraryUsageDescription</key>
<string>Give Uni Market permission to save photos</string>
<key>NSCameraUsageDescription</key>
<string>Give Uni Market permission to access your camera</string>
<key>NSMicrophoneUsageDescription</key>
<string>Give Uni Market permission to use your microphone</string>